.heading{
  font-size:2.5em;
}

.margin{
  margin-bottom: 2em;
}

.portfolio-item{
  height: 350px;
  width: 350px;
}

.display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.txtcenter{
  text-align: center;
}

.mobile{
  display: none;
}


@media only screen and (max-width: 480px) {
  .mobile{
    display: block;
  }
}
