#project{
  position: relative;
  height: 180vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  position: relative;
  height: 85%;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 64px -45px rgba(0,0,0,0.75);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
