#contact{
  position: absolute;
  height: 50vh;
  width: 100%;
  color: white;
  background-color: #253031;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#text{
  margin-bottom: 10vh;
  padding-top: 8vh;
  height: auto;
  width: auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  color: #839a9c;
  font-size: 1.7rem;
}

#text::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: -10px;
    height: 1px;
    width: 6rem;
    background-color: currentColor;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
