.links{
  margin-left: 1.5vw;
  height: 6.5vh;
  width: auto;
  cursor: pointer;
  pointer-events: all;
}

.icon{
  color: white;
  height: auto;
  width: auto;
  font-size: 6.5vh;
  transition: all 0.5s;
}

.icon:hover{
  transform: scale(1.2);
}

@media only screen and (max-width: 640px) {
  .links{
    margin-left: 3vw;
  }
}
