.home{
  height: 100vh;
  width: 100%;
}


.home::after {
  content: "";
  background-image: url('./3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.text{
  box-sizing: border-box;
  padding-top: 40vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  height: auto;
  width: auto;
  color: black;
  font-size: 55px;
  font-weight: 500;
}

p:first-child{
  font-size:40px;
}
