#home{
  height: 100vh;
  width: 100%;
}


#home::after {
  content: "";
  background-image: url('./3.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


.text{
  box-sizing: border-box;
  padding-top: 40vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-70px);
}

.welcometxt{
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  color: black;
  font-family: 'Pacifico';
  font-size: 5.7rem;
  font-weight: 100;
  text-shadow: 0.5vh 0.5vh 1vh white;
}

.welcometxt:first-child{
  font-size: 2.8rem;
  transform: translateY(20px);
}

@media only screen and (max-width: 640px) {
 .text{
     justify-content: flex-start;
 }

 .welcometxt:first-child, .welcometxt{
   margin-right: auto;
   font-size: 13vw;
 }

 .welcometxt:first-child{
   transform: translateY(10px);
 }
}
