#bar,#list{
  height: 8vh;
  width: 100%;
  background-color: black;
  position: fixed;
}

#list{
  display: flex;
  flex-direction: row;
}

.hambuger{
  position: relative;
  float: left;
  height: inherit;
  width: 40px;
  float: right;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  pointer-events: none;
  opacity: 0%;
}

i.fa.fa-bars::before{
  line-height: 8vh;
  cursor: pointer;
}

li{
  width: 128px;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 8vh;
  list-style: none;
  cursor: pointer;
  transition: all 0.5s;
  background-color: inherit;
}

li:hover{
  background-color: rgba(43, 42, 42, 1);
}

a{
  color: inherit;
  text-decoration: none;
}


@media only screen and (max-width: 640px) {
  #list{
    display: none;
  }

  #list.responsive{
    height: auto;
    display: block;
    width: 100%;
  }

  li{
    width: 100%;
  }

  .hambuger{
    opacity: 100%;
    pointer-events: all;
  }
}
