#bar{
  height: 8vh;
  width: 100%;
  background-color: rgba(249, 249, 249, 1);
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  transition: all 1s;
}

#name{
  height: inherit;
  width: auto;
  font-size: 1.8rem;
  font-weight: 800;
}

#list{
 height: inherit;
 width: auto;
 display: flex;
 flex-direction: row;
 font-size: 1.5rem;
 font-weight: 500;
}

.hambuger{
  position: relative;
  float: left;
  height: inherit;
  width: 40px;
  float: right;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  pointer-events: none;
  display: none;
}

i.fa.fa-bars{
  padding-right: 2%;
  width: auto;
}

i.fa.fa-bars::before{
  line-height: 8vh;
  cursor: pointer;
}

li{
  width: 128px;
  color: black;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  line-height: 8vh;
  list-style: none;
  cursor: pointer;
  background-color: inherit;
  transition: all 0.5s;
}

a{
  text-decoration: none;
  font-family: 'Oswald';
  font-size: inherit;
  color: inherit;
}

a:hover{
  color: inherit;
  text-decoration: none;
}

#name li{
  width: 170px;
  pointer-events: none;
}

li:hover{
  background-color: rgb(189, 186, 186);
}


@media only screen and (max-width: 640px) {
  #bar{
    justify-content: flex-end;
  }

  #name,#list{
    display: none;
  }

  #list.responsive{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #bar.responsive{
    overflow: visible;
    height: 100%;
    opacity: 0.9;
  }

  li{
    width: 100%;
    text-align: center;
  }

  li:hover{
    background-color: inherit;
  }

  .hambuger{
    display:contents;
    pointer-events: all;
  }

}
