li{
  margin: auto;
  padding: 1vh 0;
  height: 5vh;
  width: 13%;
  color: white;
  display: inline-block;
  flex-direction: row;
  margin-left: 30px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  transition: all 1s;
}

li:hover{
  background-color: rgb(30, 48, 142);
}
